<div class="container p-4">
    <div class="row">
        {{#each usuario}}
        <div class="col-md-3">
            <div class="card text-center bg-dark text-light">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{nombre}}
                    </h3>
                    <p class="m-2">{{usuario}}</p>
                    <p class="text-muted">
                        {{timeago createdAt}}
                    </p>
                    <form action="/usuarios/eliminar/{{id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger col-md-12">Eliminar</button>
                    </form>
                    <a class="btn btn-warning col-md-12 mt-2" href="/usuarios/editar/{{id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>